<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css">
  </head>
  <body>
    <header>
        <a href="#home" class="logo">Live Traffic.</a>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#Trafficnow">Traffic now</a>
            <a href="#BestRoute">Best Route</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section>
        <div id="home">
            <div id="mapContainer"></div>
        </div>
        <div id="Trafficnow">
            <div id="mapContainer"></div>
        </div>
        <div id="BestRoute">
            <div id="mapContainer"></div>
        </div>
        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-left">
                        <h1>Contact <span>me</span></h1>
                        <p><i class='bx bx-envelope'></i>chaloowino740@gmail.com</p>
                        <p><i class='bx bx-phone-call'></i>+254703804739</p>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/charles-owino-720878184/"><i class='bx bxl-linkedin-square' ></i></a>
                            <a href="https://twitter.com/Locha_740"><i class='bx bxl-twitter'></i></a>
                            <a href="https://stackoverflow.com/users/15420326/locha"><i class='bx bxl-stack-overflow'></i></a>
                        </div>
                    </div>
                    <div class="contact-right">
                        <form id="myForm" action="/submit" method="post">
                            <label>
                                <input type="text" name="Name" placeholder="Your name" required>
                            </label>
                            <label>
                                <input type="email" name="Email" placeholder="Your email" required>
                            </label>
                            <label>
                                <textarea name="Message" rows="7" placeholder="Your message"></textarea>
                            </label>
                            <button type="submit" name="Submit" class="btn2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="copyright">
            <p>Copyright @ 2023 by locha.dev | All Rights Reserved</p>
        </div>
        <div class="icon-top">
            <a href="#home"><i class='bx bx-up-arrow-circle'></i></a>
        </div>
    </footer>

<!----------js---------------->
    <script src="/js/traffic-map.js"></script>
  </body>
</html>